#main
  max-width: 700px
  margin: auto

.align_center
  text-align: center

.tweet
  border: 1px solid #eee
  border-top: 0
  padding: 6px 10px
  &:last-child
    border-radius: 0 0 3px 3px
  &:first-child
    border-radius: 3px 3px 0 0
    border-top: 1px solid #eee
  img
    border-radius: 3px
    &:not(.profile_image_url)
      max-width: 300px

.screen_name
  font-size: 0.8em

.header_logo
  max-width: 200px
  max-height: 100px
  margin: 5px 15px
