#main
  max-width: 700px
  margin: auto

.align_center
  text-align: center

.tweet
  border: 1px solid #eee
  border-top: 0
  padding: 10px
  &:last-child
    border-radius: 0 0 3px 3px
  &:first-child
    border-radius: 3px 3px 0 0
    border-top: 1px solid #eee
  img
    border-radius: 3px
    box-shadow: 0 1px 2px #aaa
